/*
	CSS below is from a tutorial on http://code.makery.ch/library/javafx-8-tutorial/part4/
*/

.label, p, body, input, select {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
	-fx-background-color: none;
    -fx-border-color: #8B0000;
    -fx-border-width: 2;
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #8B0000;
    -fx-padding: 10px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}

.button:hover {
    -fx-background-color: #8B0008;
    -fx-text-fill: black;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.tombstone {
    -fx-text-fill: #8B0000;
}